body {
    background-color: #e66c6a;
}

.tweet-list {
    overflow: hidden;
    list-style-type: none;
    margin-left: 10px;
    padding-left: 10px;
}
.tweet-list li {
    float: left;
    width: 200px;
    margin: 3px 7px 7px 3px;
    position: relative;
}
.tweet-list .tweet-content {
    background: white;
    padding: 10px;
    height: 140px;
    border-radius: 10px;
}

.tweet-list .tweet-author {
    overflow: hidden;
    margin: 5px 10px -25px 130px;
}

.tweet-list .tweet-author img {
    margin-right: 10px;
    border-radius: 28px;
    border: 4px solid white;
}

.tweet-list .tweet-author-link a {
    font-weight: bold;
    color: #999;
}

.sponsorpanel {
    display: none;
}
@media (min-width: 1222px) {
    .sponsorpanel {
        display: block;
        border-radius: 12px 12px 12px 12px;
        margin-left: 0;
        padding: 10px;
        text-align: center;
        width: 270px;
        float: right;
        background: white;
    }

    .sponsorpanel img {
        margin-bottom: 10px;
    }
    .sponsorpanel .stufe1 img {
        width: 80%;
    }
    .sponsorpanel .stufe2 img {
        width: 70%;
    }
    .sponsorpanel .stufe3 img {
        width: 60%;
    }
    .sponsorpanel .stufe4 img {
        width: 50%;
    }
}
